/* Defult Style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
}

/* Shered Style */
.btn{
    padding: 12px 16px;
    font-size: 1rem;
    color: #fff;
    background-image: linear-gradient(26deg, #F7E93F 14% ,#FB09B4 51% ,#9100F8 100%);
    border-radius: 50px;
    border: none;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}


header,#about{
    background-color: #1A0B2E ;
}

hr {
    border: navajowhite;
    width: 100%;
    height: 2px;
    background-color: #533C72;
    margin-top: 22px;
}
.section-title h2{
    color: #ffff;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 40px;
}
#meet,#choose,#featured,footer{
    padding: 120px 0;
}
/* Header Section Style */
.header-top-menu{
    padding-top: 36px;
}
.logo{
    color: #fff;
}
.logo span,.footer-logo span{
    background-image: linear-gradient(59deg, #F7E93F 0% ,#FB09B4 51% ,#9100F8 100%);
    color: transparent;
    background-clip: text;
}


nav.navbar {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
}
.menu ul {
    display: flex;
}


.menu ul li {
    list-style: none;
    margin-right: 32px;
}

.menu ul li a {
    text-decoration: none;
    color: #ffff;
    font-size: 16px;
    font-weight: 500;
}
.hamburger-menu{
    display: none;
}

/* Banner section */
#banner{
    background-image: url('image/hero-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 100px 0;
}

.banner-center-content {
   justify-items: center;
   max-width: 550px;
}
.banner-content {
    justify-items: center;
    text-align: center;
    color: #ffff;
    padding: 40px 0;
}
.banner-top-img{
    position: relative;
}
span.badge{
    background-color: #07f366;
    padding: 8px 16px;
    border-radius: 10000px;
    position: absolute;
    bottom: 295px;
    right: 13px;
    border: navajowhite;
    font-weight: 700;
    text-transform: uppercase;
}

img.microphone {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(53px, -50%);
}


h1.banner_title {font-size: 3.9rem;font-weight: 800;padding: 40px 0 8px 0;}

p.banner-text {
    font-size: 1rem;
    margin-bottom: 24px;
}

button.top-btn {
    padding: 12px 20px;
    border: 2px solid green;
    border-radius: 100px;
    background-color: #1A0B2E;
    color: #00FF88;
}



/* About Section */
.about-podcast {
    text-align: center;
    color: #fff;
}

.about-podcast h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
}



.about-text1,.about-text2{
    line-height: 2rem;
}
.about-text2 {
    line-height: 5rem;
}


.about-card {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    align-items: center;
    text-align: center;
    padding: 80px 0;
}
.card h3 {
    color: #00FF88;
    font-size: 3rem;
    font-weight: 900;
}

.card p {
    color: #ffff;
    font-size: 1rem;
    font-weight: 400;
    grid-template-columns: ;
}

/* Choose Section */

#choose,#featured{
    background-color: #230E3D;

}

.choose-card{
    color: #ffff;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
}

.large{
    grid-column: span 2;

}
.medium{
    grid-row: span 2;
}


.card-content{
    background-color: #351165;
    border-radius: 40px;
    padding: 2rem;
}



.card-content img {
    margin: 40px 0 16px 0px;
}



h4.card-title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 16px;
}

p.card-text {
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
}

.item-content {
    margin-top: 130px;
}

/* Featured Section css */
#featured,#meet{
    background-color: #1A0B2E;
}

.feature-video{
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3,1fr);
}

.feature-card {
    background-color: #250D44;
    border-radius: 15px;
    padding: 0 0px 38px 0px;
}

.feature-card iframe {
    border-radius: 15px 15px 0 0;
}

/* Meet card section */
.meet-card{
    background-color: #351165;
    padding: 40px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    gap: 24px;
}


.meet-card-content h3 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 16px;
}

.meet-card-content {
    color: #fff;
}

.meet-card-content p {
    font-size: 1rem;
    line-height: 24px;
    margin-bottom: 16px;
}

.card-social-icom {
    display: flex;
    gap: 22px;
}

.card-img {
    border: 1px solid #533C72;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}


a.card-img img {
    width: 45%;
}
/* Footer Section Start */
footer{
background-image: url("image/footer-bg.png");
background-repeat: no-repeat;
background-position: center;
background-size: cover;
text-align: center;

}
.footer-logo{
    font-size: 3.8rem;
    font-weight: 700;
    color: #fff;
}

.copyright{
    color: #fff;
    font-size: 1rem;
    font-weight: 300;
}



.social-link {
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: center;
    color: #ffff;
    margin-bottom: 32px;
}

.social-link p img {
    margin-right: 10px;
}

.footer-title {
    margin-bottom: 32px;
}











/* Small Devices Responsive */
@media screen and (max-width:576px) {
    .display-none{
    display: none;
}
#banner{
    
background-position: top center;
    
background-size: 126% 77%;
}

.hamburger-menu{
    display: inline;
    margin-right: 25px;
}

.banner-center-content{
    max-width: 400px;
}
.logo{
    padding: 0 10px;
}
img.circle {
    width: 200px;
}

img.microphone {
    width: 80px;
    right: 112px;
}
span.badge {
   
    bottom: 172px;
    right: 1px;
}
.about-card{
    grid-template-columns: repeat(2,1fr);
    gap: 40px;
}
.about-text1,.about-text2 {
    line-height: 1.3rem;
}
.about-text2 {
margin-top: 10px;
}


}